body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(64, 121, 9, 1) 0%, rgba(89, 105, 8, 1) 0%, rgba(6, 117, 106, 1) 0%, rgba(0, 0, 0, 1) 49%);
}